body {
  font-family: "helvetica";
  background-image: url("stripes.png"); }

.container {
  display: inline-block;
  width: 100%; }

h1 {
  text-align: center;
  font-size: 5em;
  color: white;
  text-shadow: #7245A8 -3px -3px, #2A3BD4 3px 3px; }

.info {
  display: inline-block;
  width: 300px;
  height: auto;
  background-color: #f0f0f0;
  border-top: 5px #7245A8 inset;
  border-bottom: 5px #2A3BD4 inset;
  float: middle; }

h2, h3 {
  text-align: center; }

img {
  width: 300px;
  height: 300px; }
